/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Bruno+Ace&family=Tektur&display=swap');

#welcomeUserRectangle{
	-fx-arc-height: 50;
	-fx-arc-width: 25;
}

#habitMasteryZoneRectangle {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 4, 0, 8, 8);
}

#lblConsole {
	-fx-font-family: "Bruno Ace";
	-fx-color: white;
}

#lblHome {
	-fx-font-family: "Black Han Sans";
	-fx-color: white;
}

#lblHabit {
	-fx-font-family: "Black Han Sans";
	-fx-color: white;
}
#lblAllHabits {
	-fx-font-family: "Black Han Sans";
	-fx-color: white;
}
#lblAllAchievements {
	-fx-font-family: "Black Han Sans";
	-fx-color: white;
}
#lblDiscovery {
	-fx-font-family: "Black Han Sans";
	-fx-color: white;
}
#lblError {
	-fx-font-family: "Black Han Sans";
}
#lblErrorSearch {
	-fx-font-family: "Black Han Sans";
}
#lblErrorSort {
	-fx-font-family: "Black Han Sans";
}

#lblCompleted1 {
	-fx-font-family: "Black Han Sans";
}

#lblCompleted2 {
	-fx-font-family: "Black Han Sans";
}
#lblPercentComplete {
	-fx-font-family: "Black Han Sans";
}
#lblStreakNumber {
	-fx-font-family: "Black Han Sans";
	-fx-font-size: 40;
}
#lblDate {
	-fx-font-family: "Black Han Sans";
	-fx-font-size: 30;
}
#lblDay {
	-fx-font-family: "Black Han Sans";
	-fx-font-size: 25;
}
#lblPlanetName {
	-fx-font-family: "Tektur";
}
#backgroundPane {
	-fx-background-color: linear-gradient(#455D8D, #0B0E1E);
}

#habitsPane1 {
	-fx-background-color: linear-gradient(#0D0D24, #222743, #0D0D24);
}
#habitsPane2 {
	-fx-background-color: linear-gradient(#323367, #32345A);
}

#AchievementRectangle {
	-fx-fill: linear-gradient(#202D4E, #12192E);
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 4, 4);
}

.choice-box {
	-fx-background-fills: white;
}
.choice-box > .label { -fx-text-fill: white; -fx-font-family: "Black Han Sans";}

#txtHabitName {
	-fx-background-color: rgba(0,0,0,0.2);
	-fx-font-family: "Black Han Sans";
	-fx-text-fill: white;
	-fx-font-size: 30;
}
#txtCustomTime {
	-fx-background-color: rgba(0,0,0,0.2);
	-fx-font-family: "Black Han Sans";
	-fx-text-fill: white;
	-fx-font-size: 12;
}
#txtTimeAmount {
	-fx-font-family: "Black Han Sans";
	-fx-text-fill: white;
	-fx-font-size: 12;
}

#txtDifficultyScale {
	-fx-font-family: "Black Han Sans";
	-fx-text-fill: white;
	-fx-font-size: 12;
}

#txtSearchHabit {
	-fx-font-family: "Black Han Sans";
}

#btnSwitchToMain {
	-fx-background-color: rgba(0,0,0,0);
}

.button {
	-fx-font-family: "Bruno Ace";
}

#btnComplete1 {
	-fx-font-family: "System";
}
#btnComplete2 {
	-fx-font-family: "System";
}

#btnClearWhen {
	-fx-font-family: "Black Han Sans";
}
#btnClearHowLong {
	-fx-font-family: "Black Han Sans";
}

.scroll-pane > .viewport {  
   -fx-background-color: transparent;
}


